.classpath/
.DS_Store
.git/
.gitignore
.idea/
.maven/
.mvn/
.project/
.settings/
.vscode/
*.bak
*.iml
*.log
*.orig
*.swp
*.tmp
docker-compose.yml
docs/
README.md
surefire-reports/
target/
test-output/
Thumbs.db